# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Custom
# ================================================================

# VSCode
.vscode/*
!.vscode/extensions.json

# zed
.zed

# SublimeText
*.sublime-project

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Binaries
/build-*

# Overrides
# ================================================================

!.files/**
.files/**/.DS_Store
